*{
    margin: 0;
    padding: 0;

}

.navbar{
    width: 86%;
    display: flex;
    margin: auto;
    padding: 15px 0;
    align-items: center;
    justify-content: space-between;
    
}
ul{
    margin-top: -4%;

}
ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 16px;
}
ul li a{
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: darkgreen;
    margin-top: -3%;
    transition: .2s ease;
    display: flex;
}
ul li a:hover{
    color: rgb(230,104,59);
}
.info h1{
    text-align: center;
    justify-content: center;
}

